.link-dropdown-list,
.img-dropdown-list,
.remark-dropdown-list,
.selection-dropdown-list,
.expand-dropdown-list {
  font-size: 12px
}

.mold-dropdown-list {
  width: 126px;
  height: 170px;
  font-size: 12px;
  .mold-icons {
    background-image: url('~@/assets/mold.png');
    background-repeat: no-repeat;
  }
  .dropdown-item {
    display: inline-block;
    width: 50px;
    height: 40px;
    padding: 0;
    margin: 5px;
  }
  @for $i from 1 through 6 {
    .mold-#{$i} {
      background-position: (1-$i)*50px 0;
    }
  }
}

.theme-dropdown-list {
  width: 100px;
  height: 200px;
  font-size: 12px;
  .mold-icons {
    background-repeat: no-repeat;
  }
  .dropdown-item {
    display: inline-block;
    width: 50px;
    height: 40px;
    padding: 0;
    margin: 5px;
  }
}

  .expand-dropdown-list {
  .dropdown-item {
    line-height: 25px;
  }
}

.selection-dropdown-list {
  .dropdown-item {
    line-height: 25px;
  }
}
