@import 'mixin';
@import 'dropdown-list';
header {
  font-size: 12px;
  &>ul {
    display: flex;
    align-items: center;
    height: 30px;
    margin: 0;
    padding: 0;
    background-color: #e1e1e1;
    li {
      line-height: 30px;
      display: inline-flex;
      width: 80px;
      height: 100%;
      list-style: none;
      a {
        font-size: 14px;
        width: inherit;
        text-align: center;
        text-decoration: none;
        color: #337ab7;
      }
      a:hover,
      a:focus {
        color: #23527c;
      }
    }
    li.selected {
      background: #fff;
      a {
        color: #000;
      }
    }
  }
}

#mind_tab-content {
  height: 61px;
  border-bottom: 1px solid #999;
  .tab-icons {
      background-image: url('~@/assets/icons.png');
    background-repeat: no-repeat;
  }
}

.mind-tab-panel {
  width: 100%;
  height: 100%;
  .menu-container {
    display: flex;
    height: inherit;
    &>div {
      display: inline-flex;
      overflow: hidden;
      align-items: center;
      flex-wrap: wrap;
      height: 100%;
      border-right: 1px dashed #eee;
    }
    &>div:last-of-type {
      border-right: none;
    }
  }
  .menu-btn {
    display: inline-flex;
    cursor: pointer;
    @include flexcenter;
  }
  .menu-btn:not([disabled]):hover {
    background-color: $btn-hover-color;
  }
  i {
    display: inline-block;
    width: 20px;
    height: 20px;
  }
  .do-group {
    width: 40px;
    height: 100%;
    padding: 0 5px;
    p {
      height: 50%;
      margin: 0;
      @include flexcenter;
    }
    .undo i {
      background-position: 0 -1240px;
    }
    .redo i {
      background-position: 0 -1220px;
    }
  }
  .insert-group {
    width: 165px;
    &>div {
      height: 50%;
      margin: 0 5px;
    }
    .insert-sibling-box {
      i {
        background-position: 0 -20px;
      }
    }
    .insert-parent-box {
      i {
        background-position: 0 -40px;
      }
    }
  }
  .edit-del-group,
  .move-group {
    width: 70px;
    @include flexcenter;
  }
  .move-group {
    .move-up {
      i {
        background-position: 0 -280px;
      }
    }
    .move-down {
      i {
        background-position: 0 -300px;
      }
    }
  }
  .edit-del-group {
    .edit {
      i {
        background-position: 0 -60px;
      }
    }
    .del {
      i {
        background-position: 0 -80px;
      }
    }
  }
  .attachment-group {
    width: 185px;
    @include flexcenter;
    .el-dropdown-link {
      font-size: 12px;
    }
    button {
      font-size: inherit;
      width: 45px;
      height: 20px;
      padding: 0;
      background-repeat: no-repeat;
      background-position: right;
      @include button;
      @include flexcenter;
      span {
        margin-left: 15px;
      }
    }
    button:hover {
      background-color: $btn-hover-color;
    }
    &>div {
      font-size: inherit;
      flex-wrap: wrap;
      width: 60px;
      height: 100%;
      @include flexcenter;
    }
    .insert {
      height: 25px;
      background-repeat: no-repeat;
    }
    .link {
      .insert {
        background-position: 50% -100px;
      }
    }
    .img {
      .insert {
        background-position: 50% -125px;
      }
    }
    .remark {
      .insert {
        background-position: 50% -1150px;
      }
    }
    .el-dropdown{
      cursor: default;
    }
  }
  .progress-group,
  .sequence-group {
    width: 135px;
    @include flexcenter;
    ul {
      width: 120px;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 2px;
      }
    }
  }
  .sequence-group {
    li {
      background-image: url('~@/assets/iconpriority.png');
    }
    @for $i from 0 through 9 {
      .sequence-#{$i} {
        background-position: 0 -20px * (-1+$i);
      }
    }
  }
  .progress-group {
    li {
      background-image: url('~@/assets/iconprogress.png');
    }
    @for $i from 0 through 9 {
      .progress-#{$i} {
        background-position: 0 -20px * (-1+$i);
      }
    }
  }
  .mold-group {
    width: 80px;
    @include flexcenter;
    .mold-icons {
      background-image: url('~@/assets/mold.png');
      background-repeat: no-repeat;
    }
    @for $i from 1 through 6 {
      .mold-#{$i} {
        background-position: (1-$i)*50px 0;
      }
    }
    .dropdown-toggle {
      display: block;
      width: 50px;
      height: 50px;
      margin: 5px 0 0 auto;
      span {
        display: inline-block;
        @include block;
        i {
          position: absolute;
          right: -20px;
          bottom: -5px;
        }
      }
    }
  }
  .arrange-group {
    width: 65px;
    .arrange {
      flex-wrap: wrap;
      @include flexcenter;
    }
    .tab-icons {
      display: inline-block;
      width: 25px;
      height: 25px;
      margin: 0;
      background-repeat: no-repeat;
      background-position: 0 -150px;
    }
  }
  .style-group {
    width: 150px;
    .clear-style-btn {
      flex-wrap: wrap;
      width: 65px;
      @include flexcenter;
      .tab-icons {
        display: inline-block;
        width: 25px;
        height: 25px;
        margin: 0;
        background-repeat: no-repeat;
        background-position: 0 -175px;
      }
    }
    .copy-paste-panel {
      width: 70px;
      .tab-icons {
        display: inline-block;
        width: 20px;
        height: 20px;
      }
      .copy-style {
        .tab-icons {
          background-position: 0 -200px;
        }
      }
      .paste-style {
        .tab-icons {
          background-position: 0 -220px;
        }
      }
    }
  }
  .font-group {
    width: 250px;
    * {
      font-size: 12px;
    }
    input {
      height: 30px !important;
    }
    .font-family-select {
      input {
        width: 150px;
      }
      .el-input__suffix {
        top: 12px;
      }
    }
    .font-size-select {
      input {
        width: 80px;
      }
      .el-input__suffix {
        top: 12px;
      }
      margin-left: 5px;
    }
    .font-bold,
    .font-italic {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0 3px;
    }
    .font-bold {
      background-position: 0 -245px;
    }
    .font-italic {
      background-position: 0 -265px;
    }
  }
  .expand-group,
  .selection-group {
    width: 60px;
    button {
      border: none;
      outline: none;
    }
    @include flexcenter;
    margin: 0 5px;
    span{
      font-size: 12px;
    }
  }
  .expand-group {
    .expand {
      width: 40px;
      height: 25px;
      background-position: center -995px;
    }
    i {
      font-size: 12px;
    }
  }
  .selection-group {
    .selection {
      width: 40px;
      height: 25px;
      background-position: 7px -1175px;
    }
    i {
      font-size: 12px;
    }
  }
}
